<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="cs" />            

	<meta name="description" content="MUDRweb.cz - jedinečný systém pro prezentaci 
              Vaší lékařské ordinace na internetu. Vlastní internetové stránky s profesionálním designem." />
        <meta name="keywords" content="internetová prezentace, ordinace, stránky ambulance, lékař" />            
	<meta name="robots" content="index,follow" />        
        <meta name="author" content="HTML code: MUDRweb.cz; e-mail: support@mudrweb.cz" />        

 <style type="text/css">
  * { margin: 0}
  html, body { font-size: 13px; font-family: Arial, sans-serif; background-color: #ffffff; background-image: url('http://www.mudrweb.cz/images/mailings/b.jpg'); background-repeat: repeat; line-height:1.5; height: 100%;} 
  h1 { font-size: 13px; font-family: Arial, sans-serif; }
  h2 { font-family: "Lucida Grande", Arial, sans-serif; color: #000; font-size: 28px; font-weight: normal; border-bottom: 1px dotted #8C8989; margin: 0px 20px 10px 0px;}
  hr { border: 0; border-bottom: 1px solid #003366; height: 1px; }
  .container { margin-left:auto; margin-right:auto; width:920px}
  .clear { clear:both;display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
  #wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto 0px}
  #header { width: auto; height: 20px; font-size: 11px; background-color: #0099CC; padding: 5px 0px 3px 0px; color: #eee; border-bottom: 1px solid #003366}
  #grid_header_l { display:inline;float:left;margin-left:10px}
  #grid_header_r { display:inline;float:right;margin-right:10px;}
  
  #main { margin-top: 10px; margin-bottom: 0px;}
  #main #content {  margin-top: 27px; margin-bottom: 10px; min-height: 430px; background: #E4F4F5; padding: 15px 0px 15px 20px; 
                 -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px; -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px; box-shadow: rgba(200,200,200,1) 0 4px 18px; }
  .grid_main_header_l { display:inline;float:left; margin:10px 0px 0px 0px;}
  .grid_main_header_r { display:inline;float:right; margin:10px 30px 0px 0px;}
  .space{ margin-left:0px;margin-right:0px;margin-top: 10px; margin-bottom: 10px; width:875px;background-color: #fff; }
  
  .grid_mainleft { height: auto; width: 560px; background-color: transparent; float:left; margin: 10px 10px 10px 30px; text-align: justify;}
  .grid_mainright { height: auto; width: 240px; background-color: transparent; float:right; margin: 10px 20px 10px 10px;}

  #footer { font-size: 11px; position: relative; width: auto; text-align: center; background-color: transparent; padding: 3px 0px 50px 15px; color: #000; height: 20px; }
  #footer a { font-size: 11px; color: #000; text-decoration: none; }
  #footer a:hover { text-decoration: underline; }
  .grid_footer_l{ display:inline;float:left;margin-left:10px;}
  .grid_footer_r{ display:inline;float:right;margin-right:30px}
 </style>

	<title>MUDRweb.cz - Místo pro Vaší web</title> 	
</head>

<body>

<div id="wrapper">

<!-- header -->
    <div id="header">
        <div class="container">
            <div id="grid_header_l">                                         
                Obchodní sdělení.                                             
            </div>                
                     
            <div id="grid_header_r">
                V případě, že máte problémy se zobrazením emailu, klikněte <a href="http://www.mudrweb.cz/mailings?token=1st201210" target="_blank">zde</a>. 
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>           

<!-- main header -->  
      <div id="main" class="container">  
        <div class="grid_main_content">
            <div id="content">                  


                <div class="grid_main_header_l">
                    <a href='http://www.mudrweb.cz'><img src='http://www.mudrweb.cz/images/mailings/logo.png' alt='MUDRweb.cz - Místo pro Váš web' /></a>
                </div>  
                           
                <div class="grid_main_header_r">
                     
                     
                </div> <!--end of grid_header_r--> 
                <div class="clear">&nbsp;</div>
                
               <div class="space"><hr></div>  
              
              <!-- main context -->
              <div class="grid_mainleft">
                   <h1>Vážená paní doktorko/Vážený pane doktore,</h1>
                    <p>
                        <br>
                        dovolujeme si Vám představit jedinečný systém pro prezentaci Vaší ordinace na internetu. Pomocí jednoduchého a přehledného administračního panelu můžete vytvořit vlastní internetové stránky s profesionálním designem.
                        <br><br>
                    </p>
                    <p>
                        Nabízíme zabezpečený systém s jednoduchou obsluhou, možností implementace on-line pacientské poradny, či fotogalerie.
                        <br><br>
                    </p>
                    <p>
                        Samozřejmostí je telefonická a e-mailová podpora – rychlá pomoc při tvorbě a následné administraci Vašich stránek.
                        <br><br>
                        <strong>A to vše za bezkonkurenční ceny a bez reklam!</strong>
                        <br><br>
                        Vyzkoušejte si ještě dnes DEMO účet <strong>ZDARMA</strong>.
                        <br>
                        Návod, jak si založit účet naleznete <a href='http://www.mudrweb.cz/doc/help_reg.pdf'>zde</a>.
                    </p>   
              </div> 
              <div class="grid_mainright">
                    <img src='http://www.mudrweb.cz/images/mailings/3dman_welcome.png' alt='' />
              </div>         
              <!-- end main context -->
                        
    
                                                                              
            </div>
        </div>                   
         <div class="clear">&nbsp;</div>
    </div>

 


 <!-- footer -->
    <div id="footer">
        <div class="container">
            <div class="grid_footer_l">
                © Copyright 2012
            </div>
            <div class="grid_footer_r">
              
               V případě, že si nepřejete nadále tuto zprávu dostávat, odhlašte se prosím z mailing listu kliknutím <a href="mailto:office@mudrweb.cz?Subject=Zrušení zasílání obchodních sdělení">ZDE</a>
               
            </div>
           <div class="clear">&nbsp;</div>
        </div>
    </div>            

        
</div> 
    
</body>
</html>
