@import url("layout_A.css");
@import url("GuestBook_2_black.css");

/*Basic*/
html, body {background-color: transparent; color: #000; background-image: url('../../images/layouts/bck2.png'); background-repeat: repeat;}

/*Topspace*/
#topspace {background-color: transparent; color: #000;}

/*Main Box*/
#wrapper {background-color: #fff; color: #000;
border-radius: 10px; box-shadow: #858383 3px 3px 10px}

/*Header*/
#header {background-color: transparent; color: #000;}
#header h1 {background-color: transparent; color: #000;}
#header h2 {background-color: transparent; color: #000;}

/*Main*/
#main {background-color: transparent; color: #000;}

/*Menu*/ 
#menu {background-color: #000; color: #000;}
#menu ul {background-color: transparent; color: #fff;}
#menu li {background-color: transparent; color: #fff;}
#menu a {background-color: transparent; color: #D3D1D1;}
#menu .active {background-color: transparent; color: #fff;}

/*Content*/
#content {background-color: transparent; color: #000;}
#content h1 {background-color: transparent; color: #000;}
#content h2 {background-color: transparent; color: #000;}
#content h3 {background-color: transparent; color: #000;}
#content ol {background-color: transparent; color: #000;}
#content ul {background-color: transparent; color: #000;}
#content li {background-color: transparent; color: #000;}
 
/*Footer*/
#foot {background-color: transparent; color: #000;}
