/**
 * Basic
 */

* { margin: 0;}
html, body { font-size: 12px; font-family: Arial, sans-serif; line-height:1.5; height: 100%; }

/**
 * Topspace
 */
#topspace { width: 850px; height: 10px; margin-left:auto; margin-right:auto;  padding: 5px 5px 5px 5px;}

/**
 * Main Box
 */
#wrapper {margin-top: 10px; margin-bottom: 10px; width:850px; margin-left:auto; margin-right:auto; padding: 10px 10px 10px 10px;}
/**
 * Header
 */
#header { background-image: url('../../images/layouts/header.jpg'); width: 850px; height: 150px; background-repeat: no-repeat;padding: 0px;  }
#header h1 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 28px; font-weight: normal; text-align: right; padding: 10px 20px 0px 10px;}
#header h2 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 16px; font-weight: normal; text-align: right; padding: 0px 20px 0px 10px;}

/**
 * Main
 */
#main {overflow:hidden; width: 845px; height: auto; margin-left:auto; margin-right:auto; margin-top: 10px; padding: 5px 5px 5px 0px;}

/**
 * Menu
*/ 
#menu { width: 100px; height: auto; float: left; padding: 10px 0px 0px 20px; margin: 0px 0px 0px 0px;}
#menu ul {padding: 0px 0px 0px 0px;}
#menu li { font-family: "Lucida Grande", Arial, sans-serif; font-size: 14px; font-weight: normal; list-style-type: none; padding: 0px 0px 20px 0px;}
#menu a {text-decoration: none}
#menu .active {text-decoration: none;}

/**
 * Content
*/
#content { width: 680px; height: auto; float: right; padding: 10px 20px 10px 20px;}
#content h1 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 20px; font-weight: normal; margin: 0px 0px 0px 0px;}
#content h2 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 16px; font-weight: normal; margin: 0px 0px 0px 0px;}
#content h3 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 0px 0px;}
#content ol {padding: 0px 0px 0px 20px;}
#content ul {padding: 0px 0px 0px 20px;}
#content li { font-family: "Lucida Grande", Arial, sans-serif; font-size: 12px; font-weight: normal; }
 
 /**
 * Footer
 */
#foot { width: 850px; height: 50px; margin-left:auto; margin-right:auto; padding: 5px 5px 5px 5px;}
