@import url("layout_F.css");
@import url("GuestBook_1_white.css");

/*Basic*/
html, body {background-color: transparent; color: #000; background-image: url(''); background-repeat: repeat;}

/*Topspace*/
#topspace {background-color: transparent; color: #000;}

/*Main Box*/
#wrapper {background-color: #fff; color: #000;
border-radius: 0px; box-shadow: #D8D8D8 3px 3px 10px;}

/*Header*/
#header {background-image: url('../../images/layouts/header_default_white.jpg'); background-color: transparent; color: #000;}
#header h1 {background-color: transparent; color: #000;}
#header h2 {background-color: transparent; color: #000;}

/*Main*/
#main {background-color: transparent; color: #000;}

/*Menu*/ 
#menu {background-color: transparent; color: #000;}
#menu ul {background-color: transparent; color: #000;}
#menu li {background-color: transparent; color: #000;}
#menu a {background-color: transparent; color: #000; border-color: #B5B5B5;}
#menu a:hover {background-color: #B5B5B5; color: #000; border-color: #B5B5B5;}
#menu .active {background-color: #B5B5B5; color: #fff; border-color: #B5B5B5;}

/*Content*/
#content {background-color: #fff; color: #000;}
#content h1 {background-color: transparent; color: #000;}
#content h2 {background-color: transparent; color: #000;}
#content h3 {background-color: transparent; color: #000;}
#content ol {background-color: transparent; color: #000;}
#content ul {background-color: transparent; color: #000;}
#content li {background-color: transparent; color: #000;}
 
/*Footer*/
#foot {background-color: transparent; color: #000;}
