@import url("../paginator.css");

/**
 * Basic
 */

* { margin: 0;}
html, body { font-size: 12px; font-family: Arial, sans-serif; line-height:1.5; height: 100%; }
#ajax-spinner { margin: 15px 0 0 15px; padding: 18px; background: url('../../images/ajax-loader.gif') no-repeat 50% 50%; font-size: 0; z-index: 1000; position: absolute; top: 50%; left: 50%; }
div.flash, div.info { color: #000; background: #FFF9D7; border: 1px solid #E2C822; padding: 0.6em; margin-top: 20px; margin-left:auto; margin-right:auto; width: 810px; }
div.warning { color: #000; background: #ffcdcd; border: 1px solid #a60000; padding: 0.6em; margin-top: 20px; margin-left:auto; margin-right:auto; width: 810px; }

/**
 * Topspace
 */
#topspace { width: 850px; height: 10px; margin-left:auto; margin-right:auto;  padding: 5px 5px 5px 5px;}

/**
 * Main Box
 */
#wrapper {margin-top: 10px; margin-bottom: 10px; width:850px; margin-left:auto; margin-right:auto; padding: 0px;}

/**
 * Header
 */
#header { background-image: url('../../images/layouts/header.jpg'); width: 850px; height: 150px; background-repeat: no-repeat;padding: 0px;  }
#header h1 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 28px; font-weight: normal; text-align: right; padding: 10px 20px 0px 10px;}
#header h2 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 16px; font-weight: normal; text-align: right; padding: 0px 20px 0px 10px;}

/**
 * Main
 */
#main {overflow:hidden; width: 840px; height: auto; margin-left:auto; margin-right:auto; padding: 5px;}

/**
 * Menu
*/ 
#menu { width: 800px; height: 26px; padding: 5px 15px 0px 15px; margin: 5px 5px 5px 5px;}
#menu ul {padding: 0px 0px 0px 0px;}
#menu li { font-family: "Lucida Grande", Arial, sans-serif; display: inline; font-size: 14px; font-weight: normal; padding: 0px 30px 0px 0px}
#menu a {text-decoration: none}
#menu .active {text-decoration: none;}

/**
 * Content
*/
#content { width: 800px; height: auto; padding: 10px 10px 10px 10px; margin: 10px 10px 10px 10px;}
#content h1 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 20px; font-weight: normal; margin: 0px 0px 0px 0px;}
#content h2 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 16px; font-weight: normal; margin: 0px 0px 0px 0px;}
#content h3 { font-family: "Lucida Grande", Arial, sans-serif; font-size: 14px; font-weight: normal; margin: 0px 0px 0px 0px;}
#content ol {padding: 0px 0px 0px 20px;}
#content ul {padding: 0px 0px 0px 20px;}
#content li { font-family: "Lucida Grande", Arial, sans-serif; font-size: 12px; font-weight: normal; }


 /**
 * Footer
 */
#foot { width: 840px; height: 50px; margin-left:auto; margin-right:auto; padding: 5px 5px 5px 5px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;}
