@import url("layout_E.css");
@import url("GuestBook_4_red.css");

/*Basic*/
html, body {background-color: transparent; color: #000; background-image: url('../../images/layouts/bck4.png'); background-repeat: repeat;}

/*Topspace*/
#topspace {background-color: transparent; color: #000;}

/*Main Box*/
#wrapper {background-color: #fff; color: #000;}

/*Header*/
#header {background-image: url('../../images/layouts/header_default_red.jpg'); background-color: transparent; color: #000;}
#header h1 {background-color: transparent; color: #000;}
#header h2 {background-color: transparent; color: #000;}

/*Main*/
#main {background-color: transparent; color: #000;}

/*Menu*/ 
#menu {background-color: transparent; color: #000; border-color: #C40233;}
#menu ul {background-color: transparent; color: #000;}
#menu li {background-color: transparent; color: #000;}
#menu a {background-color: transparent; color: #F87898;}
#menu .active {text-align: left; background-color: transparent; color: #000;}

/*Content*/
#content {background-color: #fff; color: #000;}
#content h1 {background-color: transparent; color: #000;}
#content h2 {background-color: transparent; color: #000;}
#content h3 {background-color: transparent; color: #000;}
#content ol {background-color: transparent; color: #000;}
#content ul {background-color: transparent; color: #000;}
#content li {background-color: transparent; color: #000;}
 
/*Footer*/
#foot {background-color: transparent; color: #000;}
