@import url("layout_D.css");

/*Basic*/
html, body {background-color: transparent; color: #000; background-image: url(''); background-repeat: repeat;}

/*Topspace*/
#topspace {background-color: transparent; color: #000;}

/*Main Box*/
#wrapper {background-color: transparent; color: #000; 
border-radius: 10px; box-shadow: #D8D8D8 4px 4px 8px;}

/*Header*/
#header {background-color: #fff ; color: #000;
border-radius: 0px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;}
#header h1 {background-color: transparent; color: #000;}
#header h2 {background-color: transparent; color: #000;}

/*Main*/
#main {background-color: #fff; color: #000;}

/*Menu*/    
#menu {background-color: #fff; color: #fff;
border-radius: 7px; box-shadow: #D8D8D8 2px 2px 4px;}
#menu ul {background-color: transparent; color: #000;}
#menu li {background-color: transparent; color: #000;}
#menu a {background-color: transparent; color: #A39F9F;}
#menu .active {background-color: transparent; color: #000;}

/*Content*/
#content {background-color: transparent; color: #000;}
#content h1 {background-color: transparent; color: #000;}
#content h2 {background-color: transparent; color: #000;}
#content h3 {background-color: transparent; color: #000;}
#content ol {background-color: transparent; color: #000;}
#content ul {background-color: transparent; color: #000;}
#content li {background-color: transparent; color: #000;}
 
/*Footer*/
#foot {background-color: #fff; color: #000;}
