{block #title}
    Registrace - volba programu |
{/block}
{block content}
              
    <table cellspacing="0">
        <tr>            
            <td class="td_reg_step1_active">                
                1. Volba programu
            </td>
            <td>
                <img src="../images/main/man_fillin.png" width="50"/>                            
            </td>
            <td class="td_reg_step2_inactive">                
                2. Osobní údaje                                
            </td>
            <td>
                <img src="../images/main/man_magnifier_nocolor.png" width="50"/>                            
            </td>            
            <td class="td_reg_step3_inactive">                
                3. Potvrzení
            </td>
            <td>
                <img src="../images/main/man_send_nocolor.png" width="70"/>                            
            </td>                        
        </tr>
        <tr class="tr_reg_height15"></tr>
    </table>
    <h2></h2> 
    
{snippet formRegUser1}
{form regUserForm1}        

        <table cellspacing="0">          
                <tr class="tr_reg_height5"><td></td></tr>                
                <tr>
                    <td class="td_verticalSeparator" rowspan="8">Volba programu</td>                                        
                </tr>    
                <tr>
                    <td class="td_reg_width20"></td>
                    <td class="td_reg_programs">
                        Popis a ceny jednotlivých programů naleznete <a href="/cenik">zde</a>.
                    </td>
                </tr>    
                <tr class="tr_reg_height5"><td></td></tr>
                <tr>
                    <td class="td_reg_width20"></td>
                    <td class="td_reg_programs">
                        <div class="div_reg_program_text_demo">
                            {$form['program']->getControl('demo')}
                        </div>
                        <div class="div_reg_program_image_demo">
                            <img src="../images/main/man_gift.png" width="90"/>
                        </div>
                    </td>
                </tr>
                <tr class="tr_reg_height5"><td></td></tr>
                <tr>
                    <td class="td_reg_width20"></td>
                    <td class="td_reg_programs">
                        <div class="div_reg_program_text_basic">
                            {$form['program']->getControl('basic')}
                        </div>
                        <div class="div_reg_program_image_basic">
                            <img src="../images/main/man_basic.png" width="90"/>
                        </div>
                    </td>
                </tr>                   
                <tr class="tr_reg_height5"><td></td></tr>
                <tr>
                    <td class="td_reg_width20"></td>
                    <td class="td_reg_programs">
                        <div class="div_reg_program_text_premium">
                            {$form['program']->getControl('premium')}
                        </div>
                        <div class="div_reg_program_image_premium">
                            <img src="../images/main/man_premium.png" width="90"/>
                        </div>
                    </td>
                </tr>                   
                <tr class="tr_reg_height15"><td></td></tr>
         </table>   
         <h2></h2> 
	 <table cellspacing="0">            
                <tr class="tr_reg_height10"><td></td></tr>
                <tr>
                    <td class="td_verticalSeparator" rowspan="3">Smluvní podmínky</td>
                </tr>
                <tr>                    
                    <td colspan="3" class="terms_text">
                        Smluvní podmínky naleznete na stránce <a href="{plink :Terms:}" target=_blank">Smluvní podmínky.</a>
                    </td>                    
                </tr>
                <tr>
                    <td class="td_reg_width20"></td>
                    <td class="td_input_terms">{input terms} &nbsp; Tímto stvrzuji akceptování smluvních podmínek této služby. </td>
                </tr>      
                <tr class="tr_reg_height15"><td></td></tr>
         </table>           
         <h2></h2>         
         <table cellspacing="0">                
                <tr>                            
                    <td class="td_input_changePass">{input submit1} &nbsp;&nbsp; </td> 
                </tr>
         </table>
         <h2></h2>       
{/form regUserForm1}                                         
{/snippet}    
    
{/block}