{block content}
              
    <table cellspacing="0">
        <tr>            
            <td width="145" style="font-weight:bold;font-size:16px;padding-left:110px;">                
                1. Volba programu
            </td>
            <td>
                <img src="../images/main/man_fillin.png" width="50"/>                            
            </td>
            <td width="120" style="font-weight:bold;font-size:16px;padding-left:45px;color:#666666;">                
                2. Osobní údaje                                
            </td>
            <td>
                <img src="../images/main/man_magnifier_nocolor.png" width="50"/>                            
            </td>            
            <td width="100" style="font-weight:bold;font-size:16px;padding-left:45px;color:#666666;">                
                3. Potvrzení
            </td>
            <td>
                <img src="../images/main/man_send_nocolor.png" width="70"/>                            
            </td>                        
        </tr>
        <tr height="15"></tr>
    </table>
    <h2></h2> 
    
{snippet formRegUser1}
{form regUserForm1}        

        <table cellspacing="0">          
                <tr style="height: 5px;"><td></td></tr>
                <tr>
                    <td class="td_verticalSeparator" rowspan="4">Volba programu</td>                                        
                </tr>    
                <tr>
                    <td width="20"></td>
                    <td style="background-color:#ffffff;padding-left:20px;width:685px;">
                        <div style="display:inline-table;height:60px;vertical-align:top;padding-top:45px;">
                            {$form['program']->getControl('demo')}
                        </div>
                        <div style="display:inline-table;padding-left:105px;">
                            <img src="../images/main/man_gift.png" width="90"/>
                        </div>
                    </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                    <td width="20"></td>
                    <td style="background-color:#ffffff;padding-left:20px;width:685px;">
                        <div style="display:inline-table;height:60px;vertical-align:top;padding-top:45px;">
                            {$form['program']->getControl('basic')}
                        </div>
                        <div style="display:inline-table;padding-left:160px;">
                            <img src="../images/main/man_basic.png" width="90"/>
                        </div>
                    </td>
                </tr>   
                <tr style="height: 15px;"><td></td></tr>
         </table>   
         <h2></h2> 
	 <table cellspacing="0">            
                <tr style="height: 10px;"><td></td></tr>
                <tr>
                    <td class="td_verticalSeparator" rowspan="3">Smluvní podmínky</td>
                </tr>
                <tr>                    
                    <td colspan="3" style="padding-left:40px;">
                        Smluvní podmínky MUDRweb.cz naleznete na odkaze <a href="{plink :Default:}" target=_blank">Smluvní podmínky.</a>
                    </td>                    
                </tr>
                <tr>
                    <td width="20"></td>
                    <td class="td_input_terms">{input terms} &nbsp; Pročetl jsem si smluvní podmínky, porozuměl jsem jim a akceptuji je! </td>
                </tr>      
                <tr style="height: 15px;"><td></td></tr>
         </table>           
         <h2></h2>         
         <table cellspacing="0">                
                <tr>                            
                    <td class="td_input_changePass">{input submit1} &nbsp;&nbsp; </td> 
                </tr>
         </table>
         <h2></h2>       
{/form regUserForm1}                                         
{/snippet}    
    
{/block}