{var $robots = noindex}

{block content}

<h1>Přihlášení</h1>

<br />

{form signInForm}

        <div class="errors_log" n:if="$form->hasErrors()">
            <div colspan="2" n:foreach="$form->errors as $error">{$error}</div>
        </div>

        <table cellspacing="0">            
                <tr>
                    <td class="td_input_label_log">{label username /}</td>                    
                    <td class="td_input_log">{input username}</td>                    
                </tr>                
                <tr>
                    <td class="td_input_label_log">{label password /}</td>                    
                    <td class="td_input_log">{input password}</td>                    
                </tr>                
                <tr>
                    <td></td>
                    <td class="td_input_log">{input remember} {label remember /}</td>                    
                </tr>      
                <tr>       
                    <td></td>
                    <td class="td_input_log">{input send}</td>                    
                </tr>                
        </table>

{block forgot}
    <div class="forgotten_password">    
        <a href="{plink :Admin:ForgottenPassword:}" class="f_password">Zapomněl jsem jméno a heslo</a>
    </div>
{/block}

{/form}

{/block}
