{**
 * Mudrweb main layout template.
 *
 * @copyright  Copyright (c) 2012 Zippo
 * @package    mudrweb
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="cs" />            

	<meta name="description" content="" />
        <meta name="keywords" content="" />            
	<meta name="robots" content="index,follow" />        
        <meta name="author" content="HTML code: MUDRweb.cz; e-mail: support@mudrweb.cz" />        

	<title>MUDRweb.cz - Místo pro Váš web</title>

	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/main.css" type="text/css">        
            <link rel="stylesheet" href="../css/jquery.qtip.css" type="text/css">
<!--        <link rel="stylesheet" href="../css/jquery-ui-1.8.16.custom.css" type="text/css">        -->
        
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="../js/jquery.nette.js"></script>
        <script type="text/javascript" src="../js/jquery.livequery.js"></script>
        <script type="text/javascript" src="../js/jquery.ajaxform.js"></script>        
        <script type="text/javascript" src="../js/live-form-validation.js"></script>
        <script type="text/javascript" src="../js/jquery.pstrength.js"></script>              
        <script type="text/javascript" src="../js/jquery.qtip.js"></script>              
        
 	<script type="text/javascript" src="../js/slides.min.jquery.js"></script>
	<script type="text/javascript">
                 $(document).ready(function() { $('#slides').slides({ preload: true, preloadImage: '../images/ajax-loader.gif', play: 6000, pause: 1, hoverPause: true });
                 $('.password').pstrength(); $('.password_regUserPanel').pstrength(); });
        </script> 

        <!--KLIKACI MAPA-->
        <script language="JavaScript" type="text/javascript">
            <!--
              function mapa(kolik) {
                if(kolik < 8) {
                  document.getElementById('ma').style.backgroundPosition = "0px -"+(kolik*160)+"px";
                } else {
                  document.getElementById('ma').style.backgroundPosition = "-200px -"+((kolik-7)*160)+"px";
                }
              }
        // -->
        </script>
  
        {block head}{/block}
</head>

<body>

<div id="wrapper">


    <div id="header">
        <div class="container">
            <div class="grid_header_l">                                         
                <a href="{plink :Admin:Default:}" class="login" title="Přihlášení"><span></span>Přihlášení do Admin panelu</a> &nbsp;&nbsp;                                                 
            </div>                
                <a href="{plink :Registration:}" class="registration" title="Registrace"><span></span>Objednávka</a>            
            <div class="grid_header_r">
                <a href="{plink :Default: lang=>cs}" class="lang" title="Český jazyk"><span></span></a>                 
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>           

    {snippet flashes}
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
    {/snippet}    
    <div id="main" class="container">  
        <div class="grid_main_content">
            <div id="content">                


                <div class="grid_main_header_l">
                    <a href="{plink Default:}"><img src="../images/logo.png" class="noborder" alt="MUDRweb.cz - Místo pro Váš web" /></a>
                </div>  <!--grid_header_l-->              
                <div class="grid_main_header_r">
                    <div class="mainmenu">                          
                        <div n:class="$presenter->isLinkCurrent('Default:*') ? mainmenu_firstbtn_active : mainmenu_firstbtn"><a href="{plink Default:}" class="a">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>                        
                        <!--menu items-->
                        <div n:class="$presenter->isLinkCurrent('AboutUs:*') ? mainmenu_btn_active : mainmenu_btn"><a href="{plink AboutUs:}" class="a">O nás</a></div>
                        <div n:class="$presenter->isLinkCurrent('Search:*') ? mainmenu_btn_active : mainmenu_btn"><a href="{plink Search:}" class="a">Hledat lékaře</a></div>
                        <div n:class="$presenter->isLinkCurrent('Faq:*') ? mainmenu_btn_active : mainmenu_btn"><a href="{plink Faq:}" class="a">FAQ</a></div>
                        <div n:class="$presenter->isLinkCurrent('PriceList:*') ? mainmenu_btn_active : mainmenu_btn"><a href="{plink PriceList:}" class="a">Cenník služeb</a></div>
                        <div n:class="$presenter->isLinkCurrent('Contact:*') ? mainmenu_lastbtn_active : mainmenu_lastbtn"><a href="{plink Contact:}" class="a">Kontakt</a></div>
                    </div> <!--end of mainmenu-->   
                </div> <!--end of grid_header_r--> 
                <div class="clear">&nbsp;</div>                                    
                
                <div class="space"><hr></div>                                
                {include #content}                                                                                
            </div>
        </div>                   
        <div class="clear">&nbsp;</div>
    </div>


    <div id="footer">
        <div class="container">
            <div class="grid_footer_l">
                © Copyright 2012
            </div>
            <div class="grid_footer_r">
              
                <a href="{plink Search:}">Hledat</a>
                |  
                <a href="{plink PriceList:}">Cenník</a>
                |
                <a href="{plink Faq:}">Často kladené otázky</a>
                | 
                <a href="{plink Terms:}">Smluvní podmínky</a>
                |
                <a href="{plink Contact:}">Kontakt</a>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>            

        
</div> 
    
</body>
</html>
